<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加品牌</title>
    <script src="../js/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7.css">
    <style>
        #app {
            width: 96%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div id="app" class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">添加品牌</div>
        <div class="panel-body">
            <p class="form-inline">
                <label>Id:<input type="text" class="form-control" v-model="id">
                </label>

                <label>Name:<input type="text" class="form-control" v-model="name" @keyup.enter="add">
                </label>

                <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add">

                <label>搜索名称关键字：<input type="text" class="form-control" v-model="keywords">
                </label>
            </p>
        </div>

        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ctime</th>
                <th>Operation</th>
            </tr>
            <tr v-for="item in search(keywords)">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.ctime | dateFormat}}</td>
                <td> <a href="" @click.prevent="del(item.id)">删除</a></td>
            </tr>

        </table>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '', // 搜索的关键字
                list: [{
                    id: 1,
                    name: 'Apple',
                    ctime: new Date()
                }, {
                    id: 2,
                    name: 'Oppo',
                    ctime: new Date()
                }]
            },
            methods: {
                add() {
                    this.list.push({
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    });
                    this.id = this.name = '';
                },
                del(id) {
                    // 1. 根据Id，找到要删除这一项的索引
                    // 2. 如果找到索引了，直接调用 数组的 splice 方法
                    var index = this.list.findIndex(item => {
                        if (item.id == id) {
                            return true;
                        }
                    });
                    this.list.splice(index, 1);
                },
                search(keyword) {
                    return this.list.filter(item => {
                        if (item.name.toLowerCase().includes(keyword.toLowerCase()) || item.id == keyword) {
                            return true
                        }
                    });
                }
            },
            filters: {
                //局部的过滤器dateFormat（只有该Vue实例可用）
                dateFormat: function(dateStr, pattern = "") {
                    var dt = new Date(dateStr);
                    var y = dt.getFullYear();
                    var m = (dt.getMonth() + 1).toString().padStart(2, "0");
                    var d = dt.getDate().toString().padStart(2, "0");
                    if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                        return `${y}-${m}-${d}`
                    } else {
                        var hh = dt.getHours().toString().padStart(2, '0')
                        var mm = dt.getMinutes().toString().padStart(2, '0')
                        var ss = dt.getSeconds().toString().padStart(2, '0')

                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                    }
                }
            }
        });
    </script>
</body>

</html>